body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background: #333; */
  /* text-align: center; */
  background-color: #A28B8B;
  

}

.square-container {
  max-width: 70%;
  margin: 2rem auto;
  border: 2px solid grey;
  background-color: #e2d1d1;
}

button{
  margin: 0 auto;
}

.all-form-containers {
  max-width: 70%;
  margin: 2rem auto;
  border: 2px solid grey;
  background-color: #a28b8b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}
