
.add-label{
  display: block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.inputConversationDetails{
  display: block;
  width: 95%;
  border: 1px solid grey;
}

.add-input{
  display: block;
  width: 95%;
  border: 2px solid #366e00;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 10px 20px;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  margin-bottom: 10px;
  outline: none;
}

.inputImportance{
  width: 90px;
  border: 2px solid #366e00;
  border-radius: 20px;
  background-color: #BED8F4;
  padding: 10px 20px;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  margin-bottom: 10px;
  outline: none;
}

.inputLinkedInFriends{
  width: 150px;
}

.inputConversationDetails {
  border: 2px solid #366e00;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 10px 20px;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  margin-bottom: 10px;
  outline: none;
}

.add-contact {
  font-family: 'Montserrat', sans-serif;
  border: 2px soild #366e00;
  font-size: 16px;
  border-radius: 20px;
  padding: 15px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #366e00;
  color: white;
  outline: none;
  margin-bottom: 100px;
}