

.contact-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contact-header {
  width:50%;
  display: block;
  /* text-align: center; */
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.addcontact-button-container{
  width: 200px;
}

.addcontact-button {
  display: block;
  width: 75px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 30px;
}

.sort-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}

.sort-button {
  display: block;
  width: 50%;
  height: 35px;
  border: 1px solid #366e00;
  background-color: #366e00;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.each-contact-name{
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}



.each-contact-name :hover{
  opacity: .5;
  /* font-size: calc(100% + 2px); */
  transition: .3s;
}